@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
    font-family: "Sacramento", "serif";
    background: rgb(254, 221, 221);
}

#logo {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
}

