@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Sacramento", "serif";
    background: rgb(254, 221, 221);
    height: 100vh;
    padding: 1rem;
}


nav {
    display: flex;
    justify-content: space-between;
}

#logo {

    max-height: 5rem;
    max-width: 5rem;
    border-radius: 50%;
}

a {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    font-weight: 900;
}

#logo-link {
    font-size: 1.5em;
}

.links {
    display: flex;
    align-items: center;
    gap: .5rem;
}

li {
    list-style-type: none;
  }

h1 {
    text-align: center;
    font-size: 2em;
}


.center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}


.question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.25rem;
}

.magic-eight-ball-container {
    display: flex;
    justify-content: center;
}

#magic-eight-ball {
    height: 80%;
    width: 80%;
}


.bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-size: 1.5em;
}

label {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-top: 16px;
}

#question {
    height: 3.125rem;
    width: 60%;
    border-radius: .625rem;
    border: none;
}

button {
    border-radius: .625rem;
    width: 20%;
    border: 1px solid black;
    background: white;
}

button:hover {
    background: black;
    border: 1px solid white;
    color: white;
}

#eightBallAnswer {
    font-size: 1em;
}

h1,
.center-wrapper,
.bottom-wrapper {
    margin: 20px 0 20px 0;
}

